[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stix = "==1.2.0.11"
maec = "==4.1.0.17"
Jinja2 = "==3.0.1"
pyyaml = "==5.4.1"

[dev-packages]

[requires]
python_version = ">=3.8"
